
.app{
    display:block;
}

.post{
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
    height: 90vh;
}

.headerpost{
    display:flex;
}

.leftheader{
    position: relative;
    display:flex;
    font-size:50%;
    left: -2vw;
}

.firstimage{
    position: relative;
    margin-top:4%;
    right: 15%;
    width: 15%;
    height:60%;
}

.secondimage{
    position: relative;
    margin-top:1.5%;
    width: 5%;
    height:5%;
    left:7vw;
}

.headernames{
    position: relative;
    display: block;
    right: 45%;
}

.leftemojistinsta{
    display: flex;
    position: relative;
    margin-top: 1vh;
}

.fa-regular{
    padding-left: 1%;
}

.fa-bookmark{
    position: relative;
    margin-left: 72%;
}
.textunderemojis{
    margin-left:1%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 75vh;
  }

body {
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }