body {
    background: grey;
    margin: 0;
}
div {
    box-sizing: border-box
}
header {
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
    background: white;
    text-align: center;
}
div.post {
    background:white;
    margin-top: 20px;
    padding-bottom: 40px;
}
div.post img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    color: grey;
}
div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}
div.container{
    width: 600px;
    margin: auto;
    background: grey;
}