body {
    background: black;
}

.banner {
    width: 30%;
    margin: auto;
    background: white;
    margin-top: 5%;
}

.logo {
    font-size: 50px;
    margin: 5px;
    text-shadow:3px 6px rgba(204, 204, 204, 0.75)
}

.head {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.box-left {
    display: flex;
    padding-left: 15px;
}

.box-right {
    padding-right: 15px;
    transform: scale(2 );
    text-shadow:3px 6px rgba(204, 204, 204, 0.75)
}

.menu {
    font-size: 50px;
    transform: scale(2);
    
}

h1 {
    margin-bottom: -15px;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 5px #8686867c
}

.paisaje {
    width: 100%;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: none;
    text-shadow:3px 6px rgba(204, 204, 204, 0.75)
}

.icons-left {
    display: flex;
    padding-left: 5px;
    text-shadow:3px 6px rgba(204, 204, 204, 0.75)
}

.icons-right {
    padding-right: 5px;
    text-shadow:3px 6px rgba(204, 204, 204, 0.75)
}

.left {
    padding: 10%;
}
.description {
    padding-bottom: 10px;
}