body{
    background-color: gray;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin : 0;
}
div{
    box-sizing: border-box;
}
div.post {
    background: white;
    margin-top: 10px;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
    display:inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display:inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: gray;
}
div.post h2 , div.post p{
    padding: 10px;
    margin: 0%;
}
div.container{
    width: 600px;
    margin:auto;
}

div.description{
    background: white;
    margin: 0px;
}
