article{
    background-color: rgb(150,240,182);
    padding-top: 6%;
    padding-left: 10% !important;
    padding-bottom: 4%;
}

h1{
    font-size:4em;
}

.article-content{
    color: rgb(32,47,114);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-button{
    background-color: rgb(32,47,114);
    color: rgb(150,240,182);
}
.first-button:hover{
    color: rgb(150,240,182);
    background-color: rgb(21, 31, 75);
}
.first-button:focus{
    color: rgb(150,240,182);
    background-color: rgb(32,47,114);
}

#first-link:hover{
    color: rgb(32,47,114);
}

