
img{
    max-width:100%;
    max-height:100%;
}

.post{
    background: white;
    margin-top: 80px;
}

.container{
    width: 500px;
    margin: auto;
}

header{
    background-color: white;
    padding: 20px;
}

header h1{
    margin: 0;
}

p{
    padding: 20px;
    margin: 0;
}

h3 {
    margin: 0;
    width: 85%;
    padding: 10px;
}

.postHeader{
    display: flex;
}

.numbers {
    padding: 10px;
    color: rgb(153, 153, 153);
}

.cta {
    height: 600px;
    background-color: rgb(41, 65, 171);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(https://content-tooling.spotifycdn.com/images/b236bf87-bfd5-4bcb-b51a-77881073039c_lie_circles.svg);
    background-position: right center;
}

#titleCTA {
    padding: 0;
    color: #70dc64;
    letter-spacing: 1px;
}

#subtitleCTA {
    color: #70dc64;
    font-weight: bold;
    font-size: 60px;
}

#textCTA {
    padding: 0;
    color: #70dc64;
    line-height: 1.5;
}

#btn-download {
    background-color: #70dc64;
    color: rgb(41, 65, 171);
    padding: 0px 20px 0px 20px;
    letter-spacing: 2px;
    border: none;
    font-size: 15px;
}

.banner {
    height: 600px;
    background-color: #f06cbc;
    background-repeat: no-repeat;
    background-image: url(https://www-growth.scdn.co/static/home/wrapped-homepage-banner-graphic-desktop.svg);
    background-position: right -1200px bottom -428px;
}

#titleBanner {
    padding: 0;
    color: #202f72;
    letter-spacing: 1px;
}

#subtitleBanner {
    color: #202f72;
    font-weight: bold;
    font-size: 60px;
}

#textBanner {
    padding: 0;
    color: #202f72;
    line-height: 1.5;
}

#linkBanner {
    color: #202f72;
}

.badgeA {
    height: 40px;
}

.badgeG {
    height: 60px;

}
    
.hover-green:hover{
    color: rgb(35,207,95) !important;
}

.login{
    color: rgb(217,218,220) !important;
}

article{
    background-color: rgb(150,240,182);
    padding-top: 6%;
    padding-left: 4% !important;
    padding-bottom: 4%;
}

h1{
    font-size:4em;
}

.article-content{
    color: rgb(32,47,114);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-button{
    background-color: rgb(32,47,114);
    color: rgb(150,240,182);
}

.first-button:hover{
    color: rgb(150,240,182);
    background-color: rgb(21, 31, 75);
}

.first-button:focus{
    color: rgb(150,240,182);
    background-color: rgb(32,47,114);
}

.bg-footer {
    background-color: black;
}

.row {
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
}

.logo-spotify {
    display: flex;
    justify-content: column;
    align-items: flex-start;
}

.nav-title {
    font-size: 14px;
    color: rgb(146, 146, 146);
    font-weight: bold;
}

.nav-link {
    font-size: 14px;
    color: white;
}

.fab {
    font-size: 30px;
    background-color: #242424;
    border-radius: 100%;
    border-color: none;
    color: none;
}

.squareFab {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #242424;
    border-radius: 100%;
    border-color: none;
    color: none;
    padding-top: 15px;
}

.copy {
    font-size: 10px;
    padding: 1em 0;
    margin: 0 15px 0 auto;
    color: rgb(146, 146, 146);
}

.region {
    font-size: 10px;
    color: rgb(146, 146, 146);
    text-decoration: none;
    margin-right: 28px;
}

.fas {
    font-size: 12px;
}


.link-success:hover {
    color: #1ed760;
}

.link-info:link { 
    font-size: 12px;
    color: rgb(146, 146, 146);
}
.link-info:hover {
    font-size: 12px;
    color: #1ed760;
}  